body
{
    color: rgb(30, 187, 30);
    text-align: left;
    font-family: Courier;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid darkred;
    margin: 0 auto; 

}
#post
{
    font-size: 20px;    
}